<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <a href="/admin/addUser" class="btn btn-info ml-auto">Add Users</a>
       
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
               <th>
                No
               </th>
                <th>
                Name
                </th>
                <th>
               Email
                </th>
                <th>
                Phone
                </th>
                <th>
               
                </th>
                <th>
                 
                 </th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach((users,index)=>{ %>
              <tr>
               <td>
                <%- index+1  %> 
               </td>
                <td>
                  <%- users.name %> 
                </td>
                <td>
                  <%- users.email %> 
                  </td>
                <!-- <td>
                  <%- users.password %> 
                </td> -->
                <td>
                  <%- users.phone %> 
                </td>
                <td>
                  <% if (users.status) { %>
                        <a href="/admin/blockUser/<%= users._id %> "  class="btn btn-success mr-5">Block</a>

                      <%} else { %>
                        <a href="/admin/unblockUser/<%= users._id %> "  class="btn btn-danger mr-5">Unblock</a>
                        <% } %>
                  
                </td>
              </tr>
              
              <% })%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>