<style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
.coupon{
    width: 100%;
    height: 50vh;
    background: #f0fff3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.coupon-card{
    background: linear-gradient(135deg, #c8c2eb, #392b46);
    color: #fff;
    text-align: center;
    padding: 40px 80px;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
    position: relative;

}
.logo{
    width: 80px;
    border-radius: 8px;
    margin-bottom: 20px;

}
.coupon-card h3{
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;

}
.coupon-card p{
    font-size: 15px;

}
.coupon-row{
    display: flex;
    align-items: center;
    margin: 25px auto;
    width: fit-content;

}
#cpnCode{
    border: 1px dashed #fff;
    padding: 10px 20px;
    border-right: 0;

}
#cpnBtn{
    border: 1px solid #fff;
    background: #fff;
    padding: 10px 20px;
    color: #7158fe;
    cursor: pointer;
}
.circle1, .circle2{
    background: #f0fff3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.circle1{
    left: -25px;
}
.circle2{
    right: -25px;
}

</style>


<main class="main">
    <div  class="page-header text-center " style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->


    

    <div class="page-content ">
        <div class="checkout">
            <div class="container">
                
              <!-- Button trigger modal -->
<button style="border-radius: 15px;" type="button" class="btn btn-primary my-4" data-toggle="modal" data-target="#exampleModal">
   Apply Your Coupon
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="custom-target" class="modal-dialog">
      <div class="modal-content">
        <div  class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Your Coupons</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
            <!--..................... modal body,,,,,,,,,,,,,,,,,,,,,,,,,, -->

            
            <body    >
                <% coupons.forEach((details)=>{ %> 
                <div  class="container coupon">
                    <div    class="coupon-card">
                        <h3><%=details.description  %> </h3>
                        <div  class="coupon-row">
                            <span  id="cpnCode" class="couponName"><%= details.couponName  %> </span>
                            <button class="couponButton" onclick="applycoupon(this,'<%= details._id%>')" id="cpnBtn">apply code</button>
                        </div>
                        <p class="text-dark">Valid Till: 20Dec, 2021</p>
                       
                    </div>
                </div>
                <% }) %> 
            </body>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
                





            
                <div style="background-color:#e4edfa ; border-radius: 5px;" class="card ">
                    
                    <% address?.address?.forEach((addresses,index)=>{ %> 
                        
                    <div class="card-header pt-3 mx-3" id="heading-3">
                        <p style="font-size:17px ;"  class="card-title  ">
                           <input  onclick="display('<%=addresses._id %>')" name="address" id=" <%= index+1 %>" value="addrress" type="radio" class="collapsed " role="button" data-toggle="collapse"
                                href="#collapse-<%=index+1 %> " aria-expanded="false" aria-controls="collapse-<%= index+1 %>">
                                 <%= addresses.firstname %> <%= addresses.lastname %> 
                        </input>
                    </p>
                    </div><!-- End .card-header -->
                    <div id="collapse-<%=index+1 %> " class="collapse" aria-labelledby="heading-<%=index+1 %> "
                        data-parent="#accordion-payment">
                        <div class="card-body">
                        
                            <strong>address <%= index+1 %>  </strong> <br><%=addresses.street %> <br> <%= addresses.city%> <br><%=addresses.country%> <br> <%=addresses.state  %> 
                            <br><%= addresses.pincode  %> <br> <%= addresses.phone  %> <br> <%= addresses.email  %>   
                        </div><!-- End .card-body -->
                    </div><!-- End .collapse -->
                    <% }) %> 
                    <a class="m-3" href="/checkout">
                    <button style="border-radius:18px ; "  class="btn btn-primary  mt-2 ">Add Address</button>
                </a>
                </div><!-- End .card -->

              
                <form action="#">
                    <div class="row mt-3" >
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">

                                        <label>First Name *</label>
                                        <p class="text-danger"></p>
                                    </div>
                                    <input id="firstname" name="firstname" type="text" class="form-control" required>


                                </div> <!-- End row -->


                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">
                                        <label>Last Name *</label>
                                        <p class="text-danger"></p>
                                    </div>
                                    <input id="lastname" name="lastname" type="text" class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                            </div><!-- End .row -->


                            <div class="col-sm-12">
                                <div class="d-flex justify-content-between">

                                    <label>Country *</label>
                                    <p  class="text-danger"></p>
                                </div>
                                <input name="country" id="country" type="text" class="form-control" required>
                            </div>

                            <div>
                                <div class="d-flex justify-content-between">
                                    <label name="streetaddress" id="streetaddress"> address *</label>
                                    <p id="err"  class="text-danger"></p>
                                </div>
                                <input name="street" id="streetadress" type="text" class="form-control"
                                    placeholder="house name" required>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">
                                        <label>Town / City *</label>
                                        <p id="err" class="text-danger" ></p>
                                    </div>
                                    <input id="city" name="city" type="text" class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">

                                        <label>State / County *</label>
                                        <p id="err" class="text-danger"></p>
                                    </div>
                                    <input id="state" name="state" type="text" class="form-control" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">
                                        <label>Pincode *</label>
                                        <p id="err" class="text-danger"></p>
                                    </div>
                                    <input id="pincode" name="pincode" type="text" class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">
                                        <label>Phone *</label>
                                        <p id="err" class="text-danger"></p>
                                    </div>
                                    <input id="phone" name="phone" type="tel" class="form-control" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div>
                                <div class="d-flex justify-content-between">
                                    <label>Email address *</label>
                                    <p id="err" class="text-danger"></p>
                                </div>
                                <input id="email" name="email" type="email" class="form-control" required>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                                <label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
                            </div><!-- End .custom-checkbox -->

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                <label class="custom-control-label" for="checkout-diff-address">Ship to a different
                                    address?</label>
                            </div><!-- End .custom-checkbox -->

                            <label>Order notes (optional)</label>
                            <textarea class="form-control" cols="30" rows="4"
                                placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                            
                                        </tr>
                                    </thead>

                                    <tbody>
                                        
                                        <% console.log(cartproducts,'namma cart products'); %> 
                                        <% cartproducts.forEach((cartproducts)=>{%> 
                                        <tr>
                                            <td ><%= cartproducts.product?.name%>   <br> Qty:<%= cartproducts.quantity  %>  </td>
                                            
                                            <td ><%= cartproducts.product?.Offerprice* cartproducts.quantity  %></td>
                                         
                                            
                                            </tr>

                                            <% }) %> 
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td><%= totalamount %> </td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            
                                            <td >Offer Applied :</td>
                                            <td id="offerapplied"></td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td id="totalAmount"><%= totalamount %> </td>
                                        </tr><!-- End .summary-total -->
                                     
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                               <input name="pay" id="paypal" value="paypal" type="radio" class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                  Paypal
                                            </input>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit
                                                amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                                eros.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->
                                    
                                    <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                               <input name="pay" id="cash" value="cash" type="radio" class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                    Cash on delivery
                                            </input>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit
                                                amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                                eros.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                               <input name="pay" id="Upi" value="Upi" type="radio" class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                    Razorpay
                                            </input>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit
                                                amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                                eros.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                 
                                    
        

                                <button onclick="proceedCheckout()" type="button"
                                    class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>

                                <div id="paypal_btn"></div> 


                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function applycoupon(input,id){
        console.log(id,'coupon id');
       let cpnBtn=input
       let cpnCode=input.parentElement.querySelector('span.couponName')
        var btns=document.getElementsByClassName('couponButton')
        for( var i=0;i<btns.length;i++){
            btns[i].disabled=true;
        }
            $.ajax({
              url:'/applycoupon',
              data:{
                couponId:id
              },
              method:'post',
              success:(response)=>{

                 if(response.status){
                   coupontoast1()
                   cpnBtn.innerHTML="applied"

                document.getElementById('offerapplied').innerText=response.couponAmount
                let total=document.getElementById('totalAmount').innerText
                document.getElementById('totalAmount').innerText=total-response.couponAmount
              
                
                 }else{
                    coupontoast2(response.message)
                 }
              }
            })
        }

        async  function  coupontoast1(){
            await Swal.fire({
  title: 'Coupon Applied 👍',
  position: 'top',
  showClass: {
    popup: `
      animate__animated
      animate__fadeInDown
      animate__faster
    `
  },
  hideClass: {
    popup: `
      animate__animated
      animate__fadeOutUp
      animate__faster
    `
  },
  grow: 'row',
  showConfirmButton: false,
  showCloseButton: true
})
        }

   async  function  coupontoast2(m){
   await     Swal.fire({
  icon: 'Purchase more',
  title: m,
  text: 'Sorry Not Applicable!',
  footer: '<a href="">Why do I have this issue?</a>'
})
        }
</script>
<script>

    function proceedCheckout() {
        const firstname = document.getElementById('firstname')
        const firstValue = firstname.value?.trim()
        const firstErr = firstname.parentElement.querySelector('p')
        firstErr.innerText = ""


        const lastname = document.getElementById('lastname')
        const lastvalue = lastname.value?.trim()
        const lastErr = lastname.parentElement.querySelector('p')
        lastErr.innerText = ""

        const country = document.getElementById('country')
        const countryvalue = country.value?.trim()
        const countryErr = country.parentElement.querySelector('p')
        countryErr.innerText = ""

        const streetadress = document.getElementById('streetadress')
        const streetadressvalue = streetadress.value?.trim()
        const streetadressErr = streetadress.parentElement.querySelector('p')
        streetadressErr.innerText = ""

        const city = document.getElementById('city')
        const cityvalue = city.value?.trim()
        const cityErr = city.parentElement.querySelector('p')
        cityErr.innerText = ""


        const state = document.getElementById('state')
        const statevalue = state.value?.trim()
        const stateErr = state.parentElement.querySelector('p')
        stateErr.innerText = ""

        const pincode = document.getElementById('pincode')
        const pincodevalue = pincode.value?.trim()
        const pincodeErr = pincode.parentElement.querySelector('p')
        pincodeErr.innerText = ""


        const phone = document.getElementById('phone')
        const phonevalue = phone.value?.trim()
        const phoneErr = phone.parentElement.querySelector('p')
        phoneErr.innerText = ""

        const email = document.getElementById('email')
        const emailvalue = email.value?.trim()
        const emailErr = email.parentElement.querySelector('p')
        emailErr.innerText = ""

        let flag = 1

        if (firstValue == "") {
            firstErr.innerText = 'this field is required'
            flag=2
        }
        else if( firstValue.length<3){
            firstErr.innerText = 'Please enter proper name'
            flag=2

        }
         
        if (lastvalue == "") {
            lastErr.innerText = 'this field is required'
            flag=2
        }
        else if( lastvalue.length<3){
            lastErr.innerText = 'Please enter proper name'
            flag=2

        }

        if(countryvalue==""){
            countryErr.innerText="This field is required"
            flag=2
        }
        if(streetadressvalue==""){
            streetadressErr.innerText="this field is required"
            flag=2
        }
        else if(streetadressvalue<7){
            streetadressErr.innerText="enter a valid address"
            flag=2
        }
      
        if(cityvalue==""){
            cityErr.innerText="this field is required"
            flag=2
        }

        if(statevalue==""){
            stateErr.innerText="this field is required"
            flag=2
        }

       
        if(pincodevalue==""){
            pincodeErr.innerText="this field is required"
        }
        else if(!pincodevalue.match(/^[0-9]{6}$/)){
            pincodeErr.innerText="enter proper pincode"
        }  
        
        if(phonevalue==""){
            phoneErr.innerText="This field is required"
            flag=2
        }
        else if(!phonevalue.match(/^[0-9]{10}$/)){
            phoneErr.innerText="enter proper mobile number"
            flag=2
        }

       if(emailvalue==""){
        emailErr.innerText="this field is required"
        flag=2
       } 
       else if(!emailvalue.match(
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                
       )){
        emailErr.innerText="enter a valid email"
        flag=2
       }
       
       let paymentMethod=document.querySelector('input[name="pay"]:checked').value
      

        if(flag==1){
             submit(
                firstValue,
                lastvalue,
                countryvalue,
                streetadressvalue,
                cityvalue,
                statevalue,
                pincodevalue,
                phonevalue,
                emailvalue,
                paymentMethod,
            )
        }
function submit(
                firstValue,
                lastvalue,
                countryvalue,
                streetadressvalue,
                cityvalue,
                statevalue,
                pincodevalue,
                phonevalue,
                emailvalue,
                paymentMethod
){
    $.ajax({
    url:'/checkout',
    data:{
        firstname:firstValue,
        lastname:lastvalue,
        country:countryvalue,
        street:streetadressvalue,
        city:cityvalue,
        state:statevalue,
        pincode :pincodevalue,
        phone:phonevalue,
        email:emailvalue,
        paymentMethod:paymentMethod
    },
    method:'post',
    success:(response)=>{
        if(response.cod){
         
            window.location.href="/success"
        }else if(response.paypal){
          
           loadpaypal()
            
        
          
        }
        else{
            razorpaypayment(response)
            console.log(response,'razorpay');
        }

        
    }

})
function loadpaypal(){
    paypal
      .Buttons({
        createOrder: function() {
          return fetch("/create-order", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                items: [{
                  id: 1,
                }],
              }),
            })
            .then(res => {
              if (res.ok) return res.json()
              return res.json().then(json => Promise.reject(json))
            })
            .then(({
              id
            }) => {
              return id
            })
            .catch(e => {
              console.error(e.error)
            })
        },
        onApprove: function(data, actions) {
         
            console.log(data);
            $.ajax({
                url:'/paypalSuccess',
                method:'get'
            }).then((response)=>{
                if(response.status){
                
                    location.replace('/success')
                }else{
                    Swal.fire('Something Went Wrong')
                }
    
            
             
               
                 
                
        
          })
        },
      })
      .render("#paypal_btn")
}

function razorpaypayment(order){
    console.log(order,'namm ordere');
    var options = {
    "key": "rzp_test_OGwUAcKVHVaenQ", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "CYCLO",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        Swal.fire({
  position: 'top-centre',
  icon: 'success',
  title: ' Order placed',
  showConfirmButton: false,
  timer: 5000
})
       
         
        
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)

   varifyPayment(response,order)
       
    },
    "prefill": {
        "name": "shuhaib",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
 rzp1.open();
  

}
}
function varifyPayment(payment,order){
    $.ajax({
        url:'/varifyPayment',
        data:{
            payment,
            order,
        },
        method:'post',
        success:(response)=>{
            if(response.status){
                window.location.href='/orders'
            }
        }
    })
}

     
    }

    
 
   

    function display(addressId){
        
         console.log('fkfklf');
        $.ajax({
            url:'/filladdres/'+addressId,
            method:'get',
            success:(response)=>{
               
                document.getElementById('firstname').value=response.firstname
                document.getElementById('lastname').value=response.lastname
                document.getElementById('country').value=response.country
                document.getElementById('streetadress').value=response.street
                document.getElementById('city').value=response.city
                document.getElementById('state').value=response.state
                document.getElementById('pincode').value=response.pincode
                document.getElementById('phone').value=response.phone
                document.getElementById('email').value=response.email


            }
        })
    }

</script>

